.main{
    min-height: 90.6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.main > iframe{
    width: 100vw;
    min-height: 90.6vh;
}